<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <style type="text/css">
        span {
        display : inline-block;
        width : 200px;
        text-align : left;
        }
    </style>

</head>
<body>
    <div align = "center">
        <h1>Registration Succeeded!</h1>
        <span>Username : </span><span ></span> <br/> <br/>
        <span>First name : </span><span> </span><br/> <br/>
        <span>Last name : </span><span ></span><br/> <br/>
        <span>Email : </span><span ></span><br/> <br/>
        <span>Password : </span><span ></span><br/> <br/>
        <span>Address : </span><span ></span><br/> <br/>
    </div> <br/><br/>
    <div align = "center">&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="http://localhost:63342/annual-leave-web-app/templates/index.html?_ijt=34s9d7vpa6r053clkoqkcauftj&_ij_reload=RELOAD_ON_SAVE">LOG OUT</a>
    </div>
</body>
</html>