<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registered Data</title>
    <style type="text/css">

        label {
        display : inline-block;
        width : 200px;
        margin : 5px;
        text-align : left;
        }

        button {
        margin : 10px;
        padding : 10px;
        }

        input [type=text], input [type=password], select {
        display : inline-block;
        width : 200px;
        }

    </style>
</head>
<body style="background-color:powderblue;">
<script>
    alert('Welcome to ANNUAL LEAVE WEB APPLICATION (ALWA)!');
</script>
<div align="center">
    <h1>Registered User Information</h1>
    <div>
        <form action="http://localhost:63342/annual-leave-web-app/templates/register_form.html?" method="get">
        <p>Username : <strong th:text="${userForm.username}"></strong></p>
        <p>First name : <strong th:text="${userForm.firstname}"></strong></p>
        <p>Last name : <strong th:text="${userForm.lastname}"></strong></p>
        <p>Email : <strong th:text="${userForm.email}"></strong></p>
        <p>Password : <strong th:text="${userForm.password}"></strong></p>
        <p>Address : <strong th:text="${userForm.address}"></strong></p>
            <button type="submit">LOG OUT</button>
        </form>
    </div>
</div>
</body>
</html>