<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration Form</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: left;
        }
        input[type=text], input[type=email], input[type=password], select {
            display: inline-block;
            width: 200px;
        }
        button {
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
<div align="center">
    <div style="border-style:solid; width:500px">
        <form role="form" method="post" th:action="@{/register/save}" th:object="${userForm}">
            <h1>User Registration</h1>
            <label> Username : </label>
            <input type="text" th:field="*{username}" required/>
            <br/>
            <label> First name : </label>
            <input type="text" th:field="*{firstname}" required/>
            <br/>
            <label> Last name : </label>
            <input type="text" th:field="*{lastname}" required/>
            <br/>
            <label> Email : </label>
            <input type="text" th:field="*{email}" required/>
            <br/>
            <label> Password : </label>
            <input type="password" th:field="*{password}" required/>
            <br/> <br/>
            <label> Address : </label>
            <textarea rows="1" cols="25" th:field="*{address}" required>
            </textarea>
            <br />
            <button type="submit">Log In</button>
        </form>
</div>
</div>
</body>
</html>